<li style="background-image: url(images/{{image}});">
   <div class="overlay"></div>
   <div class="container">
       <div class="row">
           <div class="col-md-6 col-md-pull-3 col-sm-12 col-xs-12 col-md-offset-3 slider-text">
               <div class="slider-text-inner">
                   <div class="desc">
                       <p class="meta">
                            <span class="cat"><a href="{{url}}">{{title}}</a></span>
                            {{#eventStart}}
                                <span class="date">{{eventStart}}{{#eventFinish}} - {{eventFinish}}{{/eventFinish}}</span>
                            {{/eventStart}}
                        </p>
                       <h1>{{{teaser}}}</h1>
                   </div>
               </div>
           </div>
       </div>
   </div>
</li>

